html, body {
    height: 100%;
    text-align: justify;
    hyphens: auto;
}

body {
    margin-bottom: 60px;
}

hr {
    height: 2px;
    color: gray;
}

#main-container {
    padding: 30px 0;
    max-width: 900px;
    min-height: 375px;
}

#main-container .actions-column {
    display: flex;
}

.title-column {
    width: 100%;
}

.title-column a {
    color: #212529;
    text-decoration: none;
}

.btn {
    margin-right: 12px;
}

.title-column a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 425px) {
    #main-container {
        padding: 30px;
    }

    #main-container td {
        height: 70px;
    }

    #main-container .btn {
        height: 40px;
    }
}